@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  background-image: url(../images/bg-big3.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; }

.ltr {
  direction: ltr;
  text-align: left; }

.rtl {
  direction: rtl;
  text-align: justify; }
  .rtl h1, .rtl h2, .rtl h3, .rtl h4, .rtl h5, .rtl h6 {
    text-align: right; }

.fa {
  font-family: b koodak, koodak, tahoma; }

.en {
  font-family: Times New Roman, Arial; }

.lang-fa {
  font-family: b koodak, koodak, tahoma;
  direction: rtl;
  text-align: justify; }

.lang-en {
  direction: ltr;
  text-align: left;
  font-family: Times New Roman, Arial; }

body.rtl .same-float {
  float: right; }

body.ltr .same-float {
  float: left; }

body.rtl .anti-float {
  float: left; }

body.ltr .anti-float {
  float: right; }

body.rtl .anti-align {
  text-align: left; }

body.ltr .anti-align {
  text-align: right; }

input, textarea {
  padding: 4px; }

select, input:not([type=radio]) {
  height: 32px; }

.no-bottom-margin {
  margin-bottom: 10px; }

.width-80 {
  width: 80%; }

input {
  max-width: 100%;
  vertical-align: middle; }

input.req {
  background: white url(../images/ast.png) no-repeat right center;
  padding-right: 25px;
  background-size: 16px; }

a, a.clicked {
  text-decoration: none; }

.disno {
  display: none; }

img {
  border: 0px solid black; }

img.captcha {
  max-width: 100%; }

.ast {
  vertical-align: middle; }

.error-comment {
  line-height: 1em;
  position: relative;
  top: -15px;
  display: inline-block;
  color: red;
  font-size: .8em; }

.header, .content, .footer {
  display: block;
  width: 95%;
  margin: 0 auto 10px auto; }

a:hover, a:active, a:focus {
  outline: 0; }

a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: 0;
  outline: 0; }

.separated {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px; }

.no-display {
  display: none; }

.header {
  display: block;
  line-height: 0;
  margin: 0 auto 10px auto;
  border-bottom: 1px solid #398DBA;
  background: linear-gradient(to left, white, rgba(255, 255, 255, 0.3), white);
  white-space: nowrap;
  position: relative; }

.header .logo {
  display: inline-block;
  width: 100%;
  height: 100%; }

.header .logo a {
  display: inline-block;
  margin: 0; }

body.ltr .header .logo a.logo-img, body.rtl .header .logo a.logo-text {
  float: right; }

body.ltr .header .logo a.logo-text, body.rtl .header .logo a.logo-img {
  float: left; }

.header .logo img {
  max-width: 100%;
  margin: auto 0; }

body.admin-env .header .logo img {
  max-height: 130px; }

body.customer-env .header .logo img {
  max-height: 180px; }

.top-menu {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: calc( 50% - 29px);
  margin: 0 auto;
  white-space: normal;
  text-align: center;
  font-size: 20px; }

.top-menu > ul {
  list-style: inside none; }

.top-menu ul a:before {
  display: inline-block;
  content: "";
  height: 100%;
  vertical-align: middle; }

.top-menu ul li {
  display: inline-block;
  width: 130px;
  background-color: #eee;
  height: 40px;
  margin-top: 2px;
  padding: 2px 5px;
  border-radius: 0px;
  transition: background-color .3s; }

.top-menu ul li:hover {
  background-color: #aaa;
  transition: background-color .3s; }

body.ltr .top-menu > ul > li, body.rtl .top-menu > ul > li {
  text-align: center; }

.top-menu li.has-sub {
  position: relative;
  cursor: pointer; }

.top-menu li.has-sub ul {
  display: none; }

.top-menu li.has-sub:hover ul {
  display: block;
  position: absolute;
  top: 60px;
  z-index: 100; }

.top-menu ul li.lang-li {
  background-color: transparent;
  height: 60px;
  width: 58px; }

.top-menu .lang {
  background-image: url(../images/lang-s.png);
  background-size: cover;
  display: inline-block;
  width: 58px;
  height: 58px;
  box-shadow: 2px 2px 5px #555;
  border-radius: 5px; }

.top-menu .lang-li a.selected::before {
  width: 30px;
  background-size: cover;
  background-image: url(../images/tick.png); }

.top-menu a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: black; }

@media (max-width: 1000px) {
  body.customer-env .header .logo img {
    height: 130px; } }
@media (max-width: 600px) {
  .header {
    text-align: center;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.3), white, rgba(255, 255, 255, 0.3)); }

  .header .logo a {
    width: 100%;
    float: none;
    margin: 0 auto 0 auto;
    max-height: 180px; }

  .header .logo img {
    max-height: 180px; }

  .header .logo .logo-text {
    display: none; }

  .header .top-menu {
    margin-top: 10px;
    display: block;
    position: static;
    font-size: 15px; }

  .top-menu ul li {
    width: 100px; }

  .top-menu li.has-sub:hover ul {
    top: 40px; }

  .top-menu ul li.lang-li {
    height: 42px; }

  .top-menu .lang {
    width: 40px;
    height: 40px; } }
.footer {
  text-align: center;
  margin: 10px 2.5% 0px 2.5%;
  padding: 0; }

.footer img {
  border-radius: 10px;
  width: 100%;
  max-width: 200px;
  transition: background-color .3s, opacity .3s;
  opacity: .5; }

.footer:hover img {
  background-color: white;
  opacity: 1;
  transition: background-color .3s,opacity .3s; }

.content {
  white-space: nowrap;
  margin-bottom: 0; }

.message-main {
  display: inline-block;
  width: 80%; }

.message-main:nth-child(1) {
  display: block;
  width: 100%; }

.main, .message {
  padding: 2%;
  white-space: normal;
  display: block;
  width: 100%; }

.message {
  background-color: white;
  color: #223F56;
  font-size: 1.5em;
  border: 1px solid #223F56;
  margin-bottom: 10px; }

.main {
  height: 100%;
  background-color: white; }

.side-menu {
  font-size: 1.2em;
  display: inline-block;
  vertical-align: top;
  height: auto;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  white-space: normal;
  width: calc(20% - 10px); }

body.rtl .side-menu {
  background: linear-gradient(to left, #fff, #bbb); }

body.ltr .side-menu {
  background: linear-gradient(to right, #fff, #bbb); }

@media (min-width: 600px) {
  body.ltr .side-menu {
    margin-right: 10px; }

  body.rtl .side-menu {
    margin-left: 10px; }

  .content > div {
    display: table;
    width: 100%; }
    .content > div .side-menu-container {
      display: table-cell;
      width: 20%;
      vertical-align: top; }
      .content > div .side-menu-container .side-menu {
        width: 100%; }
    .content > div .message-main {
      display: table-cell;
      width: 80%;
      height: 100%;
      vertical-align: top; }

  body.ltr .side-menu-container {
    padding-right: 10px; }

  body.rtl .side-menu-container {
    padding-left: 10px; } }
.side-menu-ul, .side-menu ul {
  list-style: none; }

.side-menu-ul li {
  line-height: 30px; }

.side-menu-ul a {
  margin-bottom: 5px;
  padding: 10px;
  display: inline-block;
  width: 100%;
  color: white;
  border-radius: 10px; }

body.rtl .side-menu-ul a {
  background: linear-gradient(to left, #0C7B77, #eee); }

body.rtl .side-menu-ul a:hover {
  background: linear-gradient(to left, #C63672, #eee); }

body.ltr .side-menu-ul a {
  background: linear-gradient(to right, #0C7B77, #eee); }

body.ltr .side-menu-ul a:hover {
  background: linear-gradient(to right, #C63672, #eee); }

.side-menu-ul ul a:before {
  font-family: tahoma;
  content: "» "; }

.side-menu-ul ul a {
  padding-right: 30px; }

.side-menu .mobile {
  display: none; }

@media (max-width: 600px) {
  .message-main {
    display: block;
    width: 100%; }

  body.rtl .side-menu, body.ltr .side-menu {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0 0 10px 0;
    background: linear-gradient(to left, white, rgba(255, 255, 255, 0.3), white);
    z-index: 10;
    position: relative;
    transition: background-color .3s; }

  .side-menu .mobile {
    vertical-align: middle;
    display: inline-block;
    height: 80px;
    width: 100%;
    line-height: 80px;
    white-space: nowrap;
    position: relative; }

  .side-menu .mobile img {
    max-height: calc(100% - 4px);
    vertical-align: middle;
    max-width: calc(100% - 80px);
    min-width: 40px;
    display: inline-block; }

  .side-menu .mobile .click {
    cursor: pointer;
    position: absolute;
    top: 10px;
    width: 60px;
    height: 60px;
    border: 2px solid #aaa;
    display: inline-block;
    vertical-align: middle;
    padding: -2px 10px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px 5px #aaa, -2px -2px 5px #aaa;
    border-radius: 5px;
    margin: 0;
    transition: border .3s, box-shadow .3s; }

  .side-menu:hover .click {
    box-shadow: 2px 2px 5px #555, -2px -2px 5px #555;
    border: 2px solid #555;
    transition: border .3s, box-shadow .3s; }

  body.ltr .side-menu .mobile .click {
    right: 10px; }

  body.rtl .side-menu .mobile .click {
    left: 10px; }

  .side-menu .mobile .click div {
    border: 3px solid #999;
    border-right: none;
    border-left: none;
    height: 30%;
    width: 70%;
    margin: -2px 15%; }

  .side-menu:hover .mobile .click div {
    border: 3px solid #555;
    border-right: none;
    border-left: none; }

  .side-menu .mobile .click div:first-child {
    border-top: none; }

  .side-menu .mobile .click div:last-child {
    border-bottom: none; }

  .side-menu > ul {
    display: none;
    margin: 0;
    padding: 5px; }

  .side-menu ul.active {
    display: block; } }
.main h1, .main h3, .main h5 {
  color: #0C7B77; }

.main h2, .main h4, .main h6 {
  color: #C63672; }

.even-odd-bg {
  padding: 10px;
  border-radius: 5px;
  transition: font-size .1s; }
  .even-odd-bg > div {
    text-overflow: ellipsis;
    overflow: hidden; }
  .even-odd-bg .sub-primary {
    font-size: 1.1em;
    padding: 0; }
  .even-odd-bg label {
    font-size: .9em; }
  .even-odd-bg span {
    font-size: 1.1em; }
  .even-odd-bg a:not(.button) {
    color: black; }

.even-odd-bg:nth-child(2n + 1) {
  background-color: #eee; }

.even-odd-bg:nth-child(2n + 2) {
  background-color: #bbb; }

.even-odd-bg:not(.dont-magnify):hover,
.even-odd-bg:not(.dont-magnify):focus,
.even-odd-bg:not(.dont-magnify):active {
  box-shadow: 2px 2px 2px #555,-2px -2px 2px #555;
  font-size: 1.1em;
  transition: font-size .1s; }

body.ltr .even-odd-bg > div {
  padding: 2px 10px 2px 2px; }

body.rtl .even-odd-bg > div {
  padding: 2px 2px 2px 10px; }

.row.even-odd-bg .counter {
  font-size: 1.5em;
  color: #0C7B77; }

.row.even-odd-bg:nth-child(2n+2) .counter {
  color: #C63672; }

.checkbox-holder {
  vertical-align: middle;
  position: relative;
  display: inline-block;
  width: 80px;
  height: 25px;
  line-height: 50px; }

.checkbox-holder label {
  width: 100%;
  height: 100%;
  position: relative;
  display: block; }

.checkbox-holder input {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer; }

.checkbox-holder label {
  display: block;
  width: 100%;
  height: 100%;
  background: #C63672;
  border-radius: 40px;
  box-shadow: inset 0 3px 8px 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.5);
  transition: background-color .3s; }

.checkbox-holder label:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  border-radius: inherit;
  background: #ababab;
  background: linear-gradient(#f2f2f2, #ababab);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.25); }

.checkbox-holder label:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -18px;
  right: -18px;
  bottom: -18px;
  left: -18px;
  border-radius: inherit;
  background: #eee;
  background: linear-gradient(#e5e7e6, #eee);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  filter: blur(1px); }

.checkbox-holder label i {
  display: block;
  height: 100%;
  width: 50%;
  border-radius: inherit;
  background: silver;
  position: absolute;
  right: -1%;
  top: 0;
  background: #b2ac9e;
  background: linear-gradient(#f7f2f6, #b2ac9e);
  box-shadow: inset 0 1px 0 white, 0 0 8px rgba(0, 0, 0, 0.3), 0 5px 5px rgba(0, 0, 0, 0.2);
  transition: right .3s; }

.even-odd-bg:not(.dont-magnify) .checkbox-holder label i {
  box-shadow: none; }

.checkbox-holder label i:after {
  content: "";
  position: absolute;
  left: 15%;
  top: 25%;
  width: 70%;
  height: 50%;
  background: #d2cbc3;
  background: linear-gradient(#cbc7bc, #d2cbc3);
  border-radius: inherit; }

.checkbox-holder label i:before {
  content: "No";
  text-transform: uppercase;
  font-style: normal;
  color: white;
  text-shadow: 0 1px 0 #bcb8ae, 0 -1px 0 #97958e;
  position: absolute;
  vertical-align: middle;
  top: -12px;
  right: 120%; }

body.rtl .checkbox-holder label i:before {
  content: "خیر"; }

.checkbox-holder input:checked ~ label {
  background: #0C7B77;
  transition: background-color .3s; }

.checkbox-holder input:checked ~ label i {
  right: 51%;
  transition: right .3s; }

.checkbox-holder input:checked ~ label i:before {
  content: "Yes";
  right: -90%;
  color: white;
  text-shadow: 0 1px 0 #afcb9b, 0 -1px 0 #6b8659; }

body.rtl .checkbox-holder input:checked ~ label i:before {
  content: "بله";
  right: -60%; }

.dash-ul {
  list-style-type: none; }

.dash-ul li:before {
  content: '—';
  font-size: .7em; }

body.rtl .dash-ul li:before {
  margin-left: 10px; }

body.ltr .dash-ul li:before {
  margin-right: 10px; }

.general-buttons div, .general-buttons a {
  font-size: 1.2em; }

body.rtl .general-buttons div, body.rtl .general-buttons a {
  float: left; }

body.ltr .general-buttons div, body.ltr .general-buttons a {
  float: right; }

body.rtl .results-page-select, body.rtl .results-search-again {
  float: left;
  margin-right: 4.161616%; }

body.ltr .results-page-select, body.ltr .results-search-again {
  float: right;
  margin-left: 4.161616%; }

div.results-count {
  margin-top: 40px;
  font-size: 1.2em;
  border-radius: 5px; }

.tab-container {
  background-color: #ccc;
  padding: 10px;
  border-radius: 10px; }
  .tab-container .tabs {
    margin: 5px 5px 0px 5px; }
    .tab-container .tabs li {
      list-style: none;
      display: inline; }
    .tab-container .tabs a {
      font-size: 1.2em;
      padding: 10px 20px;
      display: inline-block;
      background: #666;
      color: #fff;
      text-decoration: none;
      border-radius: 5px 5px 0 0; }
    .tab-container .tabs a.active {
      background: #fff;
      color: #000; }
    @media (max-width: 800px) {
      .tab-container .tabs a {
        font-size: 1em;
        padding: 5px 10px; } }
    @media (max-width: 600px) {
      .tab-container .tabs li {
        display: block;
        margin: 5px 0; }
      .tab-container .tabs a, .tab-container .tabs a.active {
        font-size: 1.3em;
        border-radius: 0 0 0 0;
        display: block;
        background: default; } }
  .tab-container .tab {
    padding: 20px;
    background-color: white;
    margin: 0 5px 20px 5px;
    min-height: 500px; }
  .tab-container .tab-iframe {
    width: 100%;
    border: 0; }

body.rtl .tab-container .tabs li {
  margin-left: 5px; }
  @media (max-width: 600px) {
    body.rtl .tab-container .tabs li {
      margin-left: 0; } }

body.ltr .tab-container .tabs li {
  margin-right: 5px; }
  @media (max-width: 600px) {
    body.ltr .tab-container .tabs li {
      margin-right: 0; } }

.container.category > div.row {
  padding: 10px 10px 20px 10px;
  margin-bottom: 30px;
  border-bottom: 1px dotted #ccc; }

.container.category > div.row a:hover {
  color: inherit; }

.container.category > div.row h2 {
  margin: 0 0 30px 0px; }

.post-date {
  display: block;
  color: #0C7B77;
  direction: ltr;
  margin-top: -30px; }

body.rtl .post-date {
  float: left; }

body.ltr .post-date {
  float: right; }

.post-img {
  text-align: center; }
  .post-img img {
    max-width: 100%;
    max-height: 500px; }
    @media (max-width: 600px) {
      .post-img img {
        max-height: 300px; } }

.container.category .post-short-desc {
  color: black; }
  .container.category .post-short-desc h1, .container.category .post-short-desc h2, .container.category .post-short-desc h3, .container.category .post-short-desc h4, .container.category .post-short-desc h5, .container.category .post-short-desc h6 {
    margin-bottom: 0; }

body.rtl .container.category .post-short-desc {
  text-align: justify; }
  body.rtl .container.category .post-short-desc h1, body.rtl .container.category .post-short-desc h2, body.rtl .container.category .post-short-desc h3, body.rtl .container.category .post-short-desc h4, body.rtl .container.category .post-short-desc h5, body.rtl .container.category .post-short-desc h6 {
    text-align: right; }

.container.category .read-more {
  color: #0C7B77;
  font-size: 1.2em; }

body.rtl .container.category .read-more {
  float: left; }

body.ltr .container.category .read-more {
  float: right; }

.post-cats {
  margin-bottom: 30px; }
  .post-cats div {
    vertical-align: middle; }
  .post-cats a {
    color: #C63672;
    height: 100%;
    vertical-align: middle; }
  .post-cats a:before {
    content: "»";
    font-family: tahoma;
    font-size: 1.5em;
    height: 100%; }

.post-content * {
  font-family: inherit; }
.post-content img, .post-content video {
  height: auto;
  max-width: 100%; }
.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
  margin-bottom: 0; }

.post-gallery {
  margin-top: 25px;
  padding: 25px 0;
  border-bottom: 1px dotted #ccc; }
  .post-gallery .img-div {
    padding: 5px;
    line-height: 0;
    cursor: pointer; }
  @media (max-width: 1000px) and (min-width: 600px) {
    .post-gallery .img-div {
      width: 50%; } }
  .post-gallery .img {
    width: 100%;
    height: 300px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; }
  .post-gallery .text {
    background-color: #555;
    color: white;
    padding: 5px;
    line-height: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

body.post-page .cboxPhoto {
  max-height: calc(100% - 40px); }
body.post-page #cboxTitle {
  bottom: 28px;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
body.post-page #cboxCurrent {
  bottom: 0px; }

.aclist > div {
  background-color: darkblue;
  color: white;
  margin: 5px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 1.2em;
  border-radius: 5px; }

@media (min-width: 600px) {
  .aclist > div.three.columns {
    width: calc(25% - 10px); }

  .aclist > div.four.columns {
    width: calc(33.33% - 10px); } }
.aclist > div > span {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-image: url(../images/remove.png);
  background-size: 90% 90%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  cursor: pointer; }

.icon {
  height: 40px;
  vertical-align: middle;
  cursor: pointer; }
