.aclist > div
{
	background-color:darkblue;
	color:white;
	margin:5px;
	padding:5px 10px;
	font-weight: bold;
	font-size: 1.2em;
	border-radius: 5px;
}

@media (min-width: 600px) {
	.aclist > div.three.columns
	{
		width: calc(25% - 10px)
	}

	.aclist > div.four.columns
	{
		width: calc(33.33% - 10px)
	}
}

.aclist > div > span
{
	display:inline-block;
	width:30px;
	height:30px;
	border-radius: 5px;
	background-image:url(../images/remove.png);
	background-size: 90% 90%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;	
	cursor: pointer;			
}
