.category-div 
{
	ul
	{
		margin:0 30px;
	}

	li
	{
		list-style: none;
		margin: 0 20px;
	}
}

body.rtl .category-div li
{
	border-right:1px dotted #555;
}

body.ltr .category-div li
{
	border-left:1px dotted #555;
}

.category-list
{
	.cat
	{
		padding:5px;
		width:33%;
		> div
		{
			border:1px solid #ccc;
			border-radius: 5px;
			padding:10px;
		}

		> div:hover
		{
			cursor:move;
			box-shadow: 2px 2px 5px #555;
		}

		.id
		{
			color:$secondary-color;
		}

		.cat-sign
		{
			font-family: tahoma;	
			color:$primary-color;
		}

		.name
		{
			font-size:1.3em;
			text-align: center;
			margin-top:20px;
			padding:5px 0;
			border-radius: 5px;
			background-color: $primary-color;

			a
			{
				color:white;
			}
		}

		.parent
		{
			font-size: .8em;
			height:20px;
		}

		.parent,.name
		{
			text-overflow: ellipsis;
    		overflow: hidden;
    		white-space: nowrap;
		}
	}
}