.container.category > div.row
{
	padding:10px 10px 20px 10px;
	margin-bottom: 30px;
	border-bottom: 1px dotted #ccc;
}

.container.category > div.row a:hover
{
	color:inherit;
}

.container.category > div.row h2
{
	margin:0 0 30px 0px;
}

.post-date
{
	display:block;
	color:#0C7B77;
	direction: ltr;
	margin-top: -30px;
}

body.rtl .post-date
{
	float:left;
}

body.ltr .post-date
{
	float:right;
}

.post-img
{
	text-align: center;

	img
	{
		max-width: 100%;
		max-height: 500px;

		@media (max-width: 600px)
		{
			max-height: 300px;
		}
	}
}

.container.category .post-short-desc
{
	color:black;
}

body.rtl .container.category .post-short-desc
{
	text-align: justify;

	h1,h2,h3,h4,h5,h6
	{
		text-align: right;
	}
}

.container.category .read-more
{
	color:#0C7B77;
	font-size:1.2em;
}

body.rtl .container.category .read-more
{
	float:left;
}

body.ltr .container.category .read-more
{
	float:right;
}

