*
{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}

body
{
	background-image:url(../images/bg-big3.jpg);
	background-position:center center;
	background-size:cover;
	background-attachment: fixed;
	background-repeat:no-repeat;
}

.ltr
{
	direction:ltr;
	text-align: left;
}

.ltr-inb
{
	direction: ltr;
	text-align:left;
	display: inline-block;
}

.rtl
{
	direction:rtl;
	text-align: right;
}

.fa
{
	font-family:$fa-font;
}

.en
{
	font-family:$en-font;
}

.lang-fa
{
	font-family:$fa-font;
	direction:rtl;
	text-align: justify;
}

.lang-en
{
	direction:ltr;
	text-align: left;
	font-family:$en-font;
}

body.rtl .same-float
{
	float:right;
}

body.ltr .same-float
{
	float:left;
}

body.rtl .anti-float
{
	float:left;
}

body.ltr .anti-float
{
	float:right;
}

body.rtl .anti-align
{
	text-align:left;
}

body.ltr .anti-align
{
	text-align:right;
}

input, textarea
{
	padding:4px;
}

select, input:not([type=radio])
{
	height: 32px;
}


.no-bottom-margin
{
	margin-bottom: 10px;
}

.width-80
{
	width:80%;
}

input
{
	max-width: 100%;
	vertical-align: middle;
}

input.req 
{
	background:white url(../images/ast.png) no-repeat  right center ;	
	padding-right:25px;
	background-size: 16px;
}


a, a.clicked
{
	text-decoration: none;
}

.disno
{
	display: none;
}

img
{
	border: 0px solid black;
}

img.captcha
{
	max-width: 100%;
}

.ast
{
	vertical-align: middle;
}

.error-comment
{
	line-height: 1em;
	position:relative;
	top:-15px;
	display:inline-block;
	color:red;
	font-size:.8em;
}

.header, .content, .footer
{
	display: block;
	width:95%;
	margin:0 auto 10px auto;	
}

a:hover, a:active, a:focus
{
     outline: 0;
}

a:focus, a:active, 
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner
{
    border: 0;
    outline : 0;
}

.separated
{
	border:1px solid #ccc;
	padding:10px;
	margin-top: 20px;
	border-radius: 5px;
}

.no-display
{
	display: none;
}