@import "color-font";
@import "general";

@import "header";
@import "footer";
@import "content";

@import "even-odd-bg";
@import "checkbox-holder";
@import "dash-ul";
@import "dashboard";
@import "results-page";
@import "tabs";
@import "category-div";
@import "burge-file-man";
@import "auto-complete";
@import "icon";