@import "color-font";
@import "general";

@import "header";
@import "customer-footer";
@import "content";

@import "even-odd-bg";
@import "checkbox-holder";
@import "dash-ul";
@import "results-page";
@import "tabs";

@import "customer-category";
@import "customer-post";
@import "auto-complete";
@import "icon";
@import "pagination";
