ExpiresActive On
ExpiresByType image/gif "access plus 1 months"
ExpiresByType image/jpg "access plus 1 months"
ExpiresByType image/jpeg "access plus 1 months"
ExpiresByType image/png "access plus 1 months"
ExpiresByType image/x-icon "access plus 1 months"
ExpiresByType image/ico "access plus 1 months"
ExpiresByType application/javascript "now plus 1 months"
ExpiresByType application/x-javascript "now plus 1 months"
ExpiresByType text/javascript "now plus 1 months"
ExpiresByType text/css "now plus 1 months"
ExpiresByType audio/mpeg "access plus 1 months"
ExpiresByType audio/wav "access plus 1 months"
ExpiresByType audio/wave "access plus 1 months"
ExpiresByType audio/x-wav "access plus 1 months"
ExpiresByType audio/x-pn-wav	"access plus 1 months"
ExpiresByType video/mp4 "access plus 1 months"

#ExpiresDefault "access plus 1 days"

Options -Indexes 

RewriteEngine on
RewriteCond $1 !^(index\.php|images|scripts|styles|upload|robots\.txt)
RewriteRule ^(.*)$ index.php/$1 [L]
